.account
.adobe
.android
.AndroidStudioBeta
.aptitude
.atanks
.bash_history
.bundle
.byebug_hist
.cache
.CFUserTextEncoding
.cups
.dbus
.dmenu_cache
.docker
.DS_Store
.fceux
.fltk
.fluxbox
.gconf
.gconfd
.gem
.gemrc
.gimp*
.gnome
.gnupg
.gradle
.gstreamer*
.guard_history
.gvba
.heroku
.java
.kde4
.lesshst
.links
.links2
.mpd
.local/share
.netrc
.node-gyp
.node_repl_history
.macromedia
.minecraft*
.mozilla
.mysql
.mysql_history
.ncmpcpp
.npm
.nv
.nvidia-settings-rc
.oracle_jre_usage
.pip
.pki
.pry_history
.psql_history
.pulse*
.pyenv
.pylint.d
.python-eggs
.python_history
.rbenv
.rediscli_history
.ssh
.steam*
.sqlite_history
.subversion
.thunderbird
.thumbnails
.Trash
.v8flags*
.vagrant.d
.vim/.netrwhist
.viminfo
.VirtualBox
.weechat
.wicd/WHEREAREMYFILES
.Xauthority
.xsel.log
.xsession-errors
.zsnes
.zcompdump
.zsh_history

.config/Trolltech.conf
.config/VirtualBox
.config/autostart
.config/beets/discogs_token.json
.config/beets/library.db
.config/beets/import.log
.config/beets/state.pickle
.config/configstore
.config/deluge
.config/easytag
.config/google-chrome
.config/google-chrome-unstable
.config/google-googletalkplugin
.config/gtk-2.0
.config/hexchat
.config/menus
.config/pulse
.config/teamviewer9
.config/unity3d

.config/QtProject.conf
.config/baloofilerc
.config/dconf/
.config/drkonqirc
.config/emaildefaults
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kcmdisplayrc
.config/kcmfonts
.config/kcminputrc
.config/kcmshell5rc
.config/kconf_updaterc
.config/kde5-nm-connection-editor
.config/kde5-nm-connection-editorrc
.config/kdebugrc
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kickoffrc
.config/knotifyrc
.config/kscreenlockerrc
.config/kscreensaverrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwinrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmarc
.config/plasmashellrc
.config/powermanagementprofilesrc
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/systemsettingsrc
.config/user-dirs.dirs
.config/vlc

.*.swp
*.pyc

Applications
Desktop/
dev/
Documents
downloads/
Downloads/
Library
Movies
Music
notes
Pictures
Public
Repos
screenshots/
src/
tmp
VirtualBox*

.vim/dbext_sql_history.txt
.vim/bundle
.vim/sensitive.vim
.vim/swp
