.Xauthority
.adobe
.android
.AndroidStudioBeta
.aptitude
.atanks
.bash_history
.cache
.dbus
.dmenu_cache
.fceux
.fltk
.fluxbox
.gconf
.gconfd
.gem
.gimp*
.gnome
.gnupg
.gradle
.gstreamer*
.gvba
.java
.kde4
.lesshst
.links
.links2
.local/share
.macromedia
.minecraft*
.mozilla
.mysql
.mysql_history
.ncmpcpp
.npm
.nv
.nvidia-settings-rc
.pip
.pki
.pulse*
.python-eggs
.python_history
.ssh
.steam*
.sqlite_history
.subversion
.thunderbird
.thumbnails
.vim/.netrwhist
.viminfo
.VirtualBox
.weechat
.wicd/WHEREAREMYFILES
.xsel.log
.xsession-errors
.zsnes
.zcompdump
.zsh_history

.config/Trolltech.conf
.config/VirtualBox
.config/autostart
.config/beets/library.db
.config/beets/import.log
.config/beets/state.pickle
.config/deluge
.config/easytag
.config/google-chrome
.config/google-chrome-unstable
.config/google-googletalkplugin
.config/gtk-2.0
.config/hexchat
.config/menus
.config/pulse
.config/teamviewer9
.config/unity3d

.*.swp
*.pyc

Desktop/
dev/
downloads/
Downloads/
screenshots/
src/
