.Xauthority
.adobe
.atanks
.bash_history
.cache
.config
.dbus
.dmenu_cache
.fceux
.fltk
.fluxbox
.fontconfig
.gconf
.gconfd
.gem
.gimp*
.gnupg
.gstreamer*
.gvba
.java
.kde4
.lesshst
.links
.local/share
.macromedia
.minecraft*
.mozilla
.mpd
.ncmpcpp/artists
.ncmpcpp/error.log
.pki
.pulse*
.ssh
.thunderbird
.thumbnails
.vim/.netrwhist
.viminfo
.VirtualBox
.wicd/WHEREAREMYFILES
.zsnes
.zcompdump
.zsh_history

.*.swp
*.pyc

cronjobs/
dev/
Downloads/
