[submodule ".vim/bundle/linediff"]
	path = .vim/bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
