xterm*faceName: Source Code Pro for Powerline:size=10:antialias=true
xterm*borderWidth: 0
xterm*termName: xterm-256color

Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.lcdfilter: lcddefault

URxvt*termName: xterm-256color
URxvt.font: xft:Source Code Pro for Powerline:size=10
URxvt*xftAntialias: true
URxvt.scrollBar: off
URxvt.letterSpace: -1
URxvt*loginShell: true
!URxvt.internalBorder: 0
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: google-chrome-incognito
URxvt.matcher.button: 1
